html,
body {
  text-align: center;
  display: flex;
  justify-content: center;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
